demo.example.com {
    root /var/www/demo.my165.ca/public
    log /var/www/demo-my165-ca.log
    git {
        repo git@bitbucket.org:wyg27/demo.example.com.git
        key /root/.ssh/id_rsa
        hook /_bitbucket_hook
        path /var/www/demo.example.com
        interval -1
    }
}
